@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .button{
    @apply border px-5 md:px-10  py-2.5 rounded  font-semibold transition duration-200 ease-out ;
  }
}

@layer utilities {
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}
.blog-card:hover{
	border: rgb(69, 69, 236) 2px solid;
	transition: all ease .5s;
	
}
.blog-card:hover .blog-button{
	background-color: rgb(69, 69, 236);
	transition: all ease .5s;
}
.blog-card .blog-button:active{
	background-color: rgb(138, 138, 237);
	
}
.blog-card span:hover{
	background-color: rgb(69, 69, 236);
	
}
.blog-card span:active{
	background-color: rgb(60, 60, 199);
	transition: all ease .5s;
}
.blog-card:hover .span{
	background-color: rgb(69, 69, 236);
	transition: all ease .5s;
}